@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: 1s 0s 1 slideInFromLeft;
}

a {
  @apply font-medium underline;
}

a:hover {
  @apply text-blue-500;
}

li {
  page-break-inside: avoid;
}

.comma-list > *:not(:last-child)::after {
  content: ',\00a0';
}

.btn {
  @apply inline-flex bg-gray-100 text-gray-700 px-4 py-2 rounded font-bold uppercase text-xs cursor-pointer overflow-hidden;
}

.btn:hover {
  @apply bg-gray-300 text-gray-800;
}
.active .btn {
  @apply bg-blue-500 text-white;
}

.active .btn:hover {
  @apply bg-blue-600;
}

.btn.warning:hover {
  @apply bg-orange-600 text-white;
}

.label {
  @apply uppercase text-xs mb-1 inline-block;
}

.container {
  @apply mx-auto px-4;
}

input[type='file'] {
  @apply cursor-pointer;

  font-size: 0px;
  margin-left: -10px;
  width: calc(100% + 1000px);
}
