@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

li {
  page-break-inside: avoid;
}

.comma-list > *:not(:last-child)::after {
  content: ',\00a0';
}
