@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  html {
    font-size: 15px;
  }

  main {
    @apply -mt-8;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }

  h1[contenteditable] {
    border-bottom: 0;
  }
}

@media (max-width: 768px) {
  .print-fix > div {
    flex-direction: column;
  }

  .print-fix > div > span {
    @apply mt-2;
  }
}

@media print and (max-width: 768px) {
  .print-fix > div {
    flex-direction: row;
  }

  .print-fix > div > span {
    @apply mt-0;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: 1s 0s 1 slideInLeft;
}

.slide-in-bottom {
  animation: 1s 0s 1 slideInBottom;
}

::selection {
  @apply text-white bg-blue-500;
}

a {
  @apply font-medium underline;
}

a:hover {
  @apply text-blue-500;
}

li {
  page-break-inside: avoid;
}

.comma-list > *:not(:last-child)::after {
  content: ',\00a0';
}

.btn {
  @apply inline-flex bg-gray-100 text-gray-700 px-4 py-2 rounded font-bold uppercase text-xs cursor-pointer overflow-hidden justify-center;
}

.btn:hover {
  @apply bg-gray-300 text-gray-800;
}

.btn.-lg {
  @apply px-6 py-4 text-sm;
}

.btn.-rounded {
  @apply rounded-full;
}

.-active .btn,
.-active.btn {
  @apply bg-blue-500 text-white;
}

.-active .btn:hover,
.-active.btn:hover {
  @apply bg-blue-600;
}

.btn.warning:hover {
  @apply bg-orange-600 text-white;
}

.label {
  @apply uppercase text-xs mb-1 inline-block;
}

.container {
  @apply mx-auto px-4;
}

.w-half {
  width: 50%;
}

.focus\:shadow-outline:focus {
  box-shadow: 0 0 0 3px #4299e1;
}

input[type='file'] {
  @apply cursor-pointer;

  font-size: 0px;
  margin-left: -10px;
  width: calc(100% + 1000px);
}
